@if (Show)
{
    <div class="dialog-container">
        <div class="dialog">
            <div class="dialog-header">
                <button class="dialog-close"
                        @onclick="OnClose">
                    X
                </button>
                @Header
            </div>
            <div class="dialog-body">
                @Body
            </div>
            <div class="dialog-footer">
                @Footer
            </div>
        </div>
    </div>
}
